<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>
<body style="height:1500px">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="productRegister">Register Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="customerRegister">Register Customer</a>
 	</li>
    <li class="nav-item">
      <a class="nav-link" href="supplierRegister">Register Supplier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="inventoryRegister">Register Inventory</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="buy">Buy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="supply">Supply</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="allProducts">All Products</a>
    </li>
    
  </ul>
  <h7></h7>
  

      <div class="topnav-right"> 
        <form class="form-inline" method="POST" action="">
        <input name = 'brand' id='brand' class="form-control mr-sm-2" type="text" placeholder="Search Brand">
        <button id='done' class="btn btn-success" type="submit">Search</button>
        </form> 
        </div>
        
  
</nav>
<br><br>

<div class="jumbotron jumbotron-fluid" >
  <div class="container" padding-top= 200>
    <h1>Inventory Management</h1>      
    <p></p>
  </div>
</div>
<h4 style = "text-indent : 1em;" >Features Implemented</h4>
<div class="list-group">
  <li class="list-group-item list-group-item-action">User-friendly application both for the customers as well as store admins</li>
  <li class="list-group-item list-group-item-action">Registration of new products, customers, suppliers and inventories</li>
  <li class="list-group-item list-group-item-action">Cart feature for customers</li>
  <l1 class="list-group-item list-group-item-action">Searching all products of a particular brand</l1>
  <l1 class="list-group-item list-group-item-action">Registered Suppliers can supply goods to the inventories</l1>
</div>

<br>
<br> 
<div>
<h4 style = "text-indent : 1em;">Concepts of DBMS</h4>
<div class="list-group">
  <li class="list-group-item list-group-item-action">SQL queries like insert, update and join </li>
  <li class="list-group-item list-group-item-action">Conversion of ER Model to Relational Tables</li>
  <li class="list-group-item list-group-item-action">Normalisation</li>
  <l1 class="list-group-item list-group-item-action">Lock system to maintain consistency of system</l1>
  <l1 class="list-group-item list-group-item-action">Used Semaphore Methodology to prevent deadlocks</l1>
</div></div>

<br>
<br> 
<div>
<h4 style = "text-indent : 1em;">Technology Stack</h4>
<div class="list-group">
  <li class="list-group-item list-group-item-action">Python-Flask Framework for web application</li>
  <li class="list-group-item list-group-item-action">Flask-MySQL library for performing SQL queries</li>
  <li class="list-group-item list-group-item-action">MySQL for maintaining the database</li>
</div></div>


</body>
</html>
